@import url("./font-colors.css");

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Inter', sans-serif;
    color: var(--texto-secundario2);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.arriba, .abajo {
    width: 100%;
}

.header, .footer {
    width: 100%;
    border: none;
    display: block;
    overflow: hidden;
}

.header {
    height: 80px;
}

.footer {
    height: 240px;
}

.presentacion{
    height: 100vh;
    background-image: url("../imagenes/fondoFaqs.jpeg");
}