@import url("./variables.css");

body {
  margin: 0;
}

.footer {
  background-color: var(--fondo-principal);
  padding: 40px 20px;
  font-family: 'Inter';
  color: #333;
}

.footer-grid {
  display: grid;
  grid-template-areas:
    "logo candidatos empresas luminar";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  max-width: 100%;
  margin: auto;
  align-items: start;
}

#logo {
  grid-area: logo;
  display: flex;
  align-items: center;
}

#logo img {
  height: 40px;
  margin-right: 10px;
}

#logo span {
  font-size: 24px;
  color: #0056b3;
  font-weight: bold;
}

#candidatos {
  grid-area: candidatos;
}

#empresas {
  grid-area: empresas;
}

#luminar {
  grid-area: luminar;
}

.column h4 {
  font-size: 16px;
  margin-bottom: 10px;
  color: #000;
}

.column ul {
  list-style: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 8px;
}

.column ul li a {
  text-decoration: none;
  color: #333;
}

.column ul li a:hover {
  color: #007bff;
}

.social-icons a img {
  width: 24px;
  margin-right: 10px;
}
