@import url("./variables.css");

body {
  font-family: 'Inter';
  margin: 0 0.5rem;
  background-color: var(--fondo-secundario);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

img {
  object-fit: contain;
  height: 2.5rem;
}

#botones {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

#botones a {
  color: black;
  padding: 0.8rem;
  text-decoration: none;
  position: relative;
}

#botones a:not(:last-child)::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--resaltado-texto);
  transition: width 0.3s ease, left 0.3s ease;
}

#botones a:not(:last-child):hover::after {
  width: 100%;
  left: 0;
}

#botones a:last-child {
  background-color: var(--fondo-boton);
  margin-right: 1rem;
  border-radius: var(--redondeo-borde);
  font-weight: bold;
  transition: all 0.3s ease;
}

#botones a:last-child:hover {
  background-color: var(--fondo-boton-resaltado);
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}
