@import url("./variables.css");

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Inter';
    align-items: center;
}
header {
    width: 100%;
}
iframe.header {
    width: 100%;
    height: 4rem; 
    border: none;
    display: block;
    overflow: hidden;
}

footer{
    width: 100%;
}

iframe.footer {
    width: 100%;
    height: 240px;
    border: none;
    display: block;
    overflow: hidden;
}