@import url("./font-colors.css");

body {
 margin: 0;
 display: flex;
 flex-direction: column;
 font-family: 'Inter';
}


.arriba, .abajo{
  width: 100%;
}

.header, .footer{
  width: 100%;
  border: none;
  display: block;
  overflow: hidden;
}

.header{
    height: 80px;
}

.footer{
    height: 240px;
}